.grid-container {
    display: grid;
    margin: 0 auto;
    width:300px;
    grid-template-rows: auto auto auto;

    background-color: azure;
   
  }
  
  h1{
    
    grid-row: 2/3;
    font-size: 2em;
    text-align: center;
  }
  .headerp{
    color:navy;
  }
body{
  background-color: black;
  
}
img{
  margin: 0 auto;
  width: auto;
}
p{
  text-align: center;
}
.body-text{
color:gray;
font-size: 1.2em;

}
.bottom-grid{
  display: grid;
}